
html, body {
    margin: 0;
    padding: 0;
}

canvas { position: fixed; }

#menu {
    background-color: rgba(255, 255, 255, 0.08);
    position: fixed;
    bottom: -10vh;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s ease bottom;
}

#title {
    font-size: 2vh;
    color: white;
    margin: 1vh 0px;
}

#settings {
    height: 10vh;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    overflow-x:auto;
    overflow-y:hidden;
}

#controls {
    margin:0 auto;
    display: flex;
}

.column { margin: 0 1.5vh; }

.row { display: flex; }

.sliderText {
    font-size: 1.8vh;
    color: white;
    margin: auto 0;
    text-align: center;
}

/* Slider style */
input {
    width: 15vh;
    height: 3vh;
}

.slider {
    margin-top: 1vh;
    appearance: none;
    width: 13vh;
    height: 1.3vh;
    border-radius: 2vh;
    background: #e2e2e2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: #1e82f5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background: #1e82f5;
    cursor: pointer;
}

.checkbox {
    width: 1.8vh;
    margin-right: 2vh;
}

#check1 { min-width: 13vh; }
#check2 { min-width: 20vh; }

/* Portrait resolution */
@media screen and (orientation:portrait) {
    #settings { display: none; }
}
